{% extends 'chat/base.html' %}
{% load static %}

{% block content %}
<div class="d-flex">
    <div class="bg-light border-end" style="width: 250px;">
        <button class="btn btn-primary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#userList" aria-expanded="true" aria-controls="userList">
            Registered Users
        </button>
        <div class="collapse show" id="userList">
            <ul class="list-group list-group-flush">
                {% for user in users %}
                    <li class="list-group-item">
                        <a href="{% url 'chat:chat_window' user.id %}">{{ user.username }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="flex-grow-1 p-3">
        <h2>Welcome, {{ user.username }}!</h2>
        <p>Select a user from the left menu to start chatting.</p>
    </div>
</div>
{% endblock %}
